@media only screen and (max-width: 800px) {
    #page-wrap {
        width: 95%;
    }

  .links-list {
    font-size: 26px;
    width: 100%;
    float: none;
    margin: 20px 0;
    li a {
      font-size: 24px;
      padding: 6px 0;
    }
  }

  .row {
    display: initial;
    justify-content: initial;
  }

  .spacer {
    display: none;
  }
}