@media (max-width: 800px) {
  .links-list {
    font-size: 26px;
    width: 100%;
    float: none;
    margin: 20px 0;
    li a {
      font-size: 24px;
      padding: 6px 0;
    }
  }

  .body-list {
    font-size: 65px;
    div {
      width: 50%;
    }
  }

  .row {
    display: initial;
    justify-content: initial;
  }

  .spacer {
    display: none;
  }
}